<div class="padding-top align-nav" >
    <img src="../img/spacex-1920.jpg" alt="SpaceX Logo" width="200px">
    <ul class="nav nav-underline ">
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">FALCON 9</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">FALCON HEAVY</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">DRAGON</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">STARSHIP</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">HUMAN SPACEFLIGHT</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">RIDESHARE</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">STARSHIELD</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">STARSHIELD</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">STARLINK</a>
        </li>
        
    </ul>

</div>
